#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define KP_CMA KP_COMMA
#define RW RWIN
#define CPS CAPS
#define GRV GRAVE
#define KP_ETR KP_ENTER
#define KP_SLH KP_SLASH
#define KP_EQL KP_EQUAL
#define KP_AST KP_ASTERISK
#define KP_MIN KP_MINUS
#define KP_PLS KP_PLUS

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
    &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp C_MUTE &trans     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp EQUAL
    &kp DEL    &kp Q      &kp W      &kp F      &kp P      &kp B      &kp LBKT   &kp RBKT   &kp J      &kp L      &kp U      &kp Y      &kp SEMI   &kp MINUS
    &kp BKSP   &kp A      &kp R      &kp S      &kp T      &kp G                            &kp K      &kp N      &kp E      &kp I      &kp O      &kp APOS
    &kp LSHIFT &kp Z      &kp X      &kp C      &kp D      &kp V      &kp LPAR   &kp RPAR   &kp M      &kp H      &kp COMMA  &kp PERIOD &kp FSLH   &kp RSHIFT
    &trans     &trans     &kp LALT   &kp LARW   &kp DARW                                               &kp UARW   &kp RARW   &kp RALT   &trans     &trans
                                                           &kp DEL    &kp HOME   &kp END    &kp INS
                                                                      &kp PGUP   &kp PGDN
                                                &kp SPC    &kp LCTL                         &kp LSFT   &kp RET
                                                                      &kp LGUI   &mo 1
                        >;
                };

                layer_1 {
                        bindings = <
    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
    &trans     &kp F1     &kp F2     &kp F3     &kp F4     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
    &trans     &kp F5     &kp F6     &kp F7     &kp F8     &trans                           &trans     &trans     &trans     &trans     &trans     &trans
    &trans     &kp F9     &kp F10    &kp F11    &kp F12    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
    &trans     &trans     &trans     &trans     &trans                                                 &trans     &trans     &trans     &trans     &trans
                                                           &trans     &trans     &trans     &trans
                                                                      &trans     &trans
                                                &trans     &trans                           &trans     &trans
                                                                      &trans     &trans
                        >;
				};

                layer_2 {
                        bindings = <
    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &bt BT_SEL 0
    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &bt BT_SEL 1
    &trans     &trans     &trans     &trans     &trans     &trans                           &trans     &trans     &trans     &trans     &trans     &bt BT_SEL 2
    &trans     &trans     &trans     &kp LBKT   &kp RBKT   &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &bt BT_SEL 3
    &trans     &trans     &trans     &trans     &trans                                                 &trans     &trans     &trans     &trans     &bt BT_SEL 4
                                                           &trans     &trans     &trans     &trans
                                                                      &trans     &trans
                                                &trans     &trans                           &trans     &trans
                                                                      &trans     &trans
                        >;
				};
        };
};
